<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoHandler2" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Github\plots\env\Scripts\python.exe|D:\Github\plots\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
