{% extends 'plots_global/base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% block content %}
    <form method="get">
        {{ filter.form |crispy }}
        <button type="submit" class="btn btn-info btn-lg">Search</button>
    </form>
    <br />
    <a href="{% export_url 'xlsx' %}">لتحميل النتائج في صورة  ملف اكسيل</a>
{% endblock %}
<br />
{% block results %}
    <div class="card bg-light text-dark">
        <div class="card-header bg-secondary text-white">
            <h3>نتائج البحث</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm text-wrap" id="unitTable">
                <thead class="table-secondary">
                    <style>
                    table,
                    th,
                    td {
                        border: 1px solid black;
                    }
                    </style>
                    <tr>
                        <th rowspan="2">م</th>
                        <th rowspan="2">رقم الوحدة</th>
                        <th rowspan="2">عدد الوحدات</th>
                        <th rowspan="2">رقم الطلب</th>
                        <th rowspan="2">المالك للوحدة / اسم الوحدة</th>
                        <th rowspan="2">الكيان القانونى</th>
                        <th rowspan="2">رقم اللجنة</th>
                        <th rowspan="2">تاريخ التخصيص</th>
                        <th rowspan="2">تاريخ الاستلام</th>
                        <th rowspan="2">النشاط</th>
                        <th colspan="2">التراخيص</th>
                        <th colspan="2">التعديلات على الوحدة</th>
                        <th colspan="2">موقف المرافق</th>
                        <th rowspan="2">المعدات</th>
                        <th rowspan="2">موقف التشغيل</th>
                        <th>النشاط على الواقع</th>
                        <th rowspan="2">التمويل</th>
                        <th colspan="2">المستحقات المالية على الوحدة</th>
                        <th rowspan="2">حضور اجتماعات الهيئة</th>
                        <th rowspan="2">المشاكل التى تواجه المستثمر</th>
                        <th rowspan="2">الإجراءات بخصوص تلك المشكلات</th>
                    </tr>
                    <tr>
                        <th>سجل صناعى</th>
                        <th>رخصة تشغيل</th>
                        <th>
                            يوجد/ نوعه
                        </th>
                        <th>
                            لا يوجد
                        </th>
                        <th>
                            مياة
                        </th>
                        <th>
                            كهرباء
                        </th>
                        <th>
                            نوع المنتج
                        </th>
                        <th>
                            الخدمات
                        </th>
                        <th>
                            الإيجار
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in unitsdata %}
                        <tr>
                            <td>
                                {{ unit.count }}
                            </td>
                            <td>
                                {{ unit.UnitNumber }}
                            </td>
                            <td>
                                {{ unit.UnitsCount }}
                            </td>
                            <td>
                                {{ unit.RequestNumber }}
                            </td>
                            <td style="width:25%;" class="text-wrap">
                                {{ unit.OwnerUnit }}
                            </td>
                            <td>
                                {{ unit.LegalEntity }}
                            </td>
                            <td>
                                {{ unit.CommitteeNumber }}
                            </td>
                            <td>
                                {{ unit.SpecificationDate|date:"d-m-Y" }}
                            </td>
                            <td>
                                {{ unit.HandedDate|date:"d-m-Y" }}
                            </td>
                            <td>
                                {{ unit.Main_Activity }}
                            </td>
                            <td>
                                {% if unit.OperatingLicense %}
                                   
                                    <i class="fa fa-check-square text-success" style="font-size:14px;"></i>
                                {% else %}
                                    <i class="fa fa-square-o text-danger" style="font-size:14px;"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if unit.industrialRegistry %}
                                    <i class="fa fa-check-square text-success" style="font-size:14px;"></i>
                                {% else %}
                                    <i class="fa fa-square-o text-danger" style="font-size:14px;"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if unit.UnitModification %}
                                    {{ unit.UnitModification }}
                                    <em class="text-muted"> </em>
                                {% endif %}
                            </td>
                            <td>
                                {% if unit.DeclarationModification %}
                                    <input class="form-check-input" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" disabled>
                                {% endif %}
                            </td>
                            <td>
                                {% if unit.Has_Water_Meter %}
                                    <input class="form-check-input" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" disabled>
                                {% endif %}
                            </td>
                            <td>
                                {% if unit.Has_Electric_Meter %}
                                    <input class="form-check-input" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" disabled>
                                {% endif %}
                            </td>
                            <td>
                                {% if unit.Has_equipment %}
                                    <input class="form-check-input" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" disabled>
                                {% endif %}
                            </td>
                            <td>
                                {{ unit.LandOperatingStatus }}
                            </td>
                            <td>
                                {% if unit.SubActivity %}
                                    {{ unit.SubActivity }}
                                    <em class="text-muted"> </em>
                                {% endif %}
                            </td>
                            <td>
                                {% if unit.Has_Finance %}
                                    <input class="form-check-input" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" disabled>
                                {% endif %}
                            </td>
                            <td>
                                {% if unit.DueServices %}
                                    {{ unit.DueServices }}
                                    <em class="text-muted"> </em>
                                {% endif %}
                            </td>
                            <td>
                                {% if unit.DuePriceOrrent %}
                                    {{ unit.DuePriceOrrent }}
                                    <em class="text-muted"> </em>
                                {% endif %}
                            </td>
                            <td>
                                {% if unit.AttendMeeting %}
                                    <input class="form-check-input" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" disabled>
                                {% endif %}
                            </td>
                            <td>
                                {% if unit.UnitProblems %}
                                    {{ unit.UnitProblems }}
                                    <em class="text-muted"> </em>
                                {% endif %}
                            </td>
                            <td>
                                {% if unit.UnitProblemsSolutions %}
                                    {{ unit.UnitProblemsSolutions }}
                                    <em class="text-muted"> </em>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /*##################*/-->
        {% if is_paginated %}
				<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
						 <ul class="pagination  justify-content-center" style="margin:20px 0;">
								{% if page_obj.has_previous %}
									<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
								{% else %}
									<li class="page-item disabled"><span>  &laquo;</span></li>
								{% endif %}

								{% for i in paginator.page_range %}
									{% if page_obj.number == i %}
										<li class="page-item  active"><span class="page-link">{{ i }}</span></li>
									{% else %}
										<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
									{% endif %}
								{% endfor %}

								{% if page_obj.has_next %}
									<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
								{% else %}
									<li class="page-item disabled page-link"><span>&raquo;</span></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
				{% endif %}
			</div> <!-- .col-md-8 -->
    {% endblock %}
